.page {
  :global {
    h1 {
      font-size: 40px;
      margin: 71px 10px 10px;
      margin-left: 49px;
      line-height: 41px;
      letter-spacing: -0.5px;
    }

    .buttons-group {
      display: flex;
      flex-direction: column;
      margin: 23px 0 0 49px;
      width: 644px;

      &-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 20px;
        gap: 19px;
      }
    }
  }
}
