@import "@base/variables";

.main-nav {
  font-size: 12px;
  margin: 5px 0 20px 0;

  &__link {
    box-sizing: border-box;

    & .main-nav__link__wrapper a {
      display: flex;
      flex-direction: column;
      padding: 20px 0 20px 5px;
      align-items: center;
      text-decoration: none;
      border-right: 8px solid transparent;
      color: $white;
      font-size: 15px;
      line-height: 14px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0;
      text-align: center;
      margin: 0 auto;
      width: fit-content;
    }

    ul {
      padding: 0;
      display: none;
    }

    &.active {
      .main-nav__link__wrapper a {
        font-weight: bold;
        padding: 20px 0 0px 5px;

        &:after {
          content: "";
          width: 90px;
          height: 20px;
          margin: 5px 0 0 0;
          border-radius: 100% 100% 0 0;
          background: transparent linear-gradient(180deg, $blue-205 0%, $blue-201 40%, $yellow-300 100%) 0% 0% no-repeat padding-box;
        }
      }

      ul {
        display: block;
      }
    }

    &.schizophrenia {
      &.active a {
        border-color: $yellow;
      }
    }

    &.bipolar {
      &.active a {
        border-color: $blue;
      }
    }
  }

  &__sublink {
    display: flex;
    align-items: center;
    padding: 13.5px 0;
    font-size: 14px;
    line-height: 14px;
    list-style: none;

    &.current {
      a {
        @include triangle;

        color: $gray;
        font-weight: 700;
        text-decoration: underline;
        padding-left: 28px;

        &::before {
          border-width: 0.6em 0 0.6em 0.9em;
          top: 0;
        }
      }
    }

    a {
      align-items: center;
      color: $base;
      display: flex;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: 0;
      padding-left: 40px;
      text-align: left;
      text-decoration: none;
    }
  }
}
