.A-3-3-2_Safety {

  &_wrapper {
    position: relative;
  }

  &-img {
    width: 839px;
  }

  &-btn {
    position: absolute;
    right: 29px;
    bottom: -22px;
    padding-left: 15px;
    padding-bottom: 4px;
    font-size: 14px;
  }
}
