@import "@base/variables";

.A-0-Home {

  &_wrapper {
    width: 807px;
    margin-top: 28px;
    margin-left: 30px;
  }

  &-header{
    font-size:39px !important;
    letter-spacing: -0.65px;
    line-height: 39px !important;
  }
  &-sup {
    font-size: 22px !important;
    letter-spacing: 4px;
  }
  &-underline {
    width:610px ;
  }

  &-secondary-header {
    width: 634px;
    font-weight: normal !important;
    line-height: 27px !important;
  }
  &-underline{
    width: 607px
  }

  &-trademark{
    width: 350px;
    font-size: 11px;
  }
  &-sign__wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &-logo__wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-footer{

    margin-left: -31px;

    .safetyInfo   {
      p {
        letter-spacing: -0.65px;
      }
      a {
        letter-spacing: -0.75px;
      }
    }

    &_uppercase {
      letter-spacing: -0.8px;
    }

    .height {
      display: block;
      margin-top: 2px;
      margin-bottom: 2px;
    }

    .font-blue {
      color: $blue-330;
    }

    .isi-info {
      letter-spacing: normal;
    }

    a.font-blue span {
      letter-spacing: normal;
    }
  }
}

.page--A_0_Home {
  .main-nav__link:first-of-type .main-nav__link__wrapper a {
    padding-top: 0;
  }

  .arrows-nav {
    button.arrows-nav__next:before {
      background: $white;
    }
  }
}
