@import "@base/variables";

.A-0-Home {

  &_wrapper {
    width: 807px;
    margin-top: 28px;
    margin-left: 30px;
  }

  &-header{
    font-size:39px !important;
    letter-spacing: -0.65px;
    line-height: 39px !important;
  }
  &-sup {
    font-size: 22px !important;
    letter-spacing: 4px;
  }
  &-underline {
    width:610px ;
  }

  &-secondary-header {
    width: 634px;
    font-weight: normal !important;
    line-height: 27px !important;
  }
  &-underline{
    width: 607px
  }

  &-trademark{
    width: 350px;
    font-size: 11px;
  }
  &-sign__wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &-logo__wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-footer{

    margin-left: -30px;

    .safetyInfo   {
      p {
        letter-spacing: -0.6px;
        line-height: 18.3px ;
      }
      a {
        letter-spacing: -0.75px;
      }

    }

  }
  //.footer-txt {
  //  font-weight: bold;
  //}
}
