.footnote {
  max-width: 830.5px;
  font-size: 11px;
  line-height: 13px;

  ul, ol {
    list-style: none;
  }

  p {
    margin: 0;
  }

  sup {
    font-size: 8px;
  }

  sub {
    font-size: 6px;
  }

  &-small {
    font-size: 8px;
    line-height: 8px;
  }

  .transform {
    transform: translate(2px, 0);
  }

  .lineHeight {
    line-height: 7px;
    transform: translate(2, -5px);
  }
}
