@import "@base/variables";
.page--A_3_4_2_Dosing {
  &-header-2.heading {
    color: $blue-500;
    font-size: 23px;
    line-height: 23px;
  }

  &-image-1 {
    width: 337.5px;
    transform: translateY(-49px);
  }

  &-paragraph-1.paragraph {
    color: $blue-600;
    font-size: 19px;
    line-height: 22px;
    transform: translateY(-36.5px);
  }

  &-paragraph-2.paragraph {
    color: $blue-600;
    line-height: 18px;
    margin-top: 12.5px;

    a {
      color: $blue-600;
      text-decoration: none;
    }
  }

  &-section {
    max-width: 813.5px;
    margin: 0;
    padding: 0 0 0 9.5px;
    display: grid;
    grid-template-columns: 1fr 384.5px;
    align-items: center;
    column-gap: 42.5px;

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      img {
        width: 90.5px;
        margin-right: 18.5px;
      }

      p {
        padding: 0;
        line-height: 18px;
      }
    }

    &-item-2 {
      background: #00B6ED26 0% 0% no-repeat padding-box;
      border-radius: 7.5px;
      padding: 0 15px;
    }
  }
}
