@import "@base/variables";
.page--a353_additional {
  .modal-link-wrapper {
    &:first-of-type {
      position: absolute;
      right: 45px;
      top: 57px;
    }
    &:last-of-type {
      position: absolute;
      right: 45px;
      bottom: 79px;
    }
  }
}
