@import "@base/variables";

.page--A_7_0_ISI {

  &-wrapper {
    height: calc(100% - 146px);
    padding-right: 40px;
    margin-right: 42px;
    padding-bottom: 365px;
    padding-left: 2px;

    .ScrollbarsCustom {

      .ScrollbarsCustom-Scroller {

        .ScrollbarsCustom-Content {
          padding-right: 42px !important;
        }
      }

      .ScrollbarsCustom-TrackY {
        width: 8px !important;
        background: $gray-300 !important;
        top: 0 !important;
        right: -39px !important;

        .ScrollbarsCustom-Thumb {
          background: $blue-500 !important;
        }
      }
    }
  }

  &-header-2 {
    font-size: 16px !important;
    line-height: 18px !important;
  }

  p {
    line-height: 18.5px !important;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .arrows-nav__next {
    width: 0;
  }
}
