@import "@base/variables";

.navigation {
  display: flex;
  flex-direction: column;
  background: transparent linear-gradient(180deg, $blue-600 0%, $blue-300 100%) 0% 0% no-repeat padding-box;
  border-radius: 0 29px 25px 0;
  height: calc(100% - 41px);

  &__arrows {
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    height: 58px;
    background-color: $white;

    a {
      color: $white;
    }
  }

  .navigation__head {

    .navigation__homepage-link {
      margin: 36px auto 0 auto;
      background-image: url(@assets/icons/homepage.svg);
      width: 36px;
      height: 36px;
      background-size: 36px 36px;
      display: block;
    }
  
    .navigation__homepage--active {
      display: block;
      width: 90px;
      height: 20px;
      margin: 5px auto;
      border-radius: 100% 100% 0 0;
      background: transparent linear-gradient(180deg, $blue-205 0%, $blue-200 40%, $yellow-300 100%) 0% 0% no-repeat padding-box;
    }
  }

  .main-bottom-nav {

    &>:nth-child(2) {
      display: block;
      border-bottom: 1px solid #fff;
      width: 48px;
      height: 1px;
      margin: auto;
    }

    .main-nav__link {
      list-style: none;
      border-radius: 100%;
      border: 1px solid $white;
      width: 34px;
      height: 34px;
      margin: 10px auto;

      .main-nav__link__wrapper {
        border-radius: 50%;

        a {
          font-size: 16px;
          font-weight: 500;
          padding: 10px 0 5px 8px;
        }
      }
    
      &.active {
        width: 47px;
        height: 47px;
        border: 5px solid #7DE1DE;

        .main-nav__link__wrapper {
          background: #7DE1DE;
          border-radius: 50%;
          margin: 1.5px auto;
          width: 34px;
          height: 34px;
    
          a {
            font-weight: bold;
            padding: 11px 0 0 9px;

            &:after {
              display: none;
            }
          }
        }
      }
    }
  }  
}
