$fonts-path: "@/assets/fonts/GandhiSans";

@font-face {
  font-family: 'Gandhi Sans';
  src: url('#{$fonts-path}/GandhiSans-Regular-webfont.woff') format('woff'),
  url('#{$fonts-path}/GandhiSans-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gandhi Sans';
  src: url('#{$fonts-path}/GandhiSans-Bold-webfont.woff') format('woff'),
  url('#{$fonts-path}/GandhiSans-Bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gandhi Sans';
  src: url('#{$fonts-path}/GandhiSans-Italic-webfont.woff') format('woff'),
  url('#{$fonts-path}/GandhiSans-Italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gandhi Sans';
  src: url('#{$fonts-path}/GandhiSans-BoldItalic-webfont.woff') format('woff'),
  url('#{$fonts-path}/GandhiSans-BoldItalic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
