// Fonts
$font-open-sans: "Gandhi Sans", sans-serif;
$font-size-base: 16px;

// Colors
$blue-100: #7DE1DE;
$blue-200: #7DE1DE3D;
$blue-205: #7DE1DED8;
$blue-250: #7FDAF6;
$blue-300: #00B6ED;
$blue-350: #41A4BA;
$blue-400: #39849E;
$blue-500: #0086A1;
$blue-600: #005674;
$blue-700: #00567473;

$green-500: #42711e;

$gray-100: #BED4DB;
$gray-200: #F0F0F0;
$gray-500: #414042;
$gray-700: #33333380;
$gray-800: #333333;
$gray-900: #00000029;

$red-500: #E83443;

$yellow-200: #FFB200;
$yellow-300: #FFB81C00;

$base: $gray-800;
$blue: $blue-600;
$black: #000;
$white: #fff;
$gray: $gray-500;
$green: $green-500;
$yellow: $yellow-200;
$red: $red-500;

// Colors array for loops in mixins
$colors: (
  "base": $base,
  "black": $black,
  "white": $white,
  "primary": $blue,
  "secondary": $gray,
  "info": $gray-100,
  "success": $green,
  "warning": $yellow,
  "danger": $red,
);

// Shadows
$card-shadow: 0 2px 18px rgba($black, 0.08);

@mixin card(
  $border-radius: 16px,
  $bg: $white,
  $top: 20px,
  $right: 16px,
  $bottom: 17px,
  $left: 16px
) {
  border-radius: $border-radius;
  background-color: $bg;
  box-shadow: $card-shadow;
  padding: $top $right $bottom $left;
}

@mixin triangle {
  &::before {
    content: "";
    border-color: transparent $yellow;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1em;
    position: relative;
  }
}

@mixin circle {
  &::before {
    content: "";
    display: block;
    background-color: $blue-300;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: relative;
    top: 11px;
    left: -12px;
  }
}

@mixin square {
  &::before {
    content: "";
    display: block;
    background-color: $yellow;
    width: 5px;
    height: 5px;
    position: relative;
    top: 11px;
    left: -8px;
  }
}

@mixin square-small {
  &::before {
    content: "";
    display: block;
    background-color: $yellow;
    width: 3px;
    height: 3px;
    position: relative;
    top: 11px;
    left: -8px;
  }
}
@mixin rectangle {
  &::before {
    content: "";
    display: block;
    background-color: $blue-300;
    width: 4px;
    height: 2px;
    position: relative;
    top: 11px;
    left: -9px;
  }
}

// General text color mixin
@mixin font-color {
  @each $name, $variable in $colors {
    &-#{$name} {
      color: $variable;
    }
  }
}

@mixin bg-color {
  @each $name, $variable in $colors {
    &-#{$name} {
      background-color: $variable;
    }
  }
}

// Lists marker color mixin
@mixin list-marker-color {
  @each $name, $variable in $colors {
    &.marker-#{$name}::before {
      background-color: $variable;
    }
  }
}

// Spacings like in Bootstrap
@mixin spacing($short_var, $css_var) {
  @for $i from 0 through 100 {
    .#{$short_var}-#{$i} {
      #{$css_var}: #{$i}px !important;
    }
    .#{$short_var}y-#{$i} {
      #{$css_var}-top: #{$i}px !important;
      #{$css_var}-bottom: #{$i}px !important;
    }
    .#{$short_var}x-#{$i} {
      #{$css_var}-left: #{$i}px !important;
      #{$css_var}-right: #{$i}px !important;
    }
    .#{$short_var}t-#{$i} {
      #{$css_var}-top: #{$i}px !important;
    }
    .#{$short_var}b-#{$i} {
      #{$css_var}-bottom: #{$i}px !important;
    }
    .#{$short_var}l-#{$i} {
      #{$css_var}-left: #{$i}px !important;
    }
    .#{$short_var}r-#{$i} {
      #{$css_var}-right: #{$i}px !important;
    }
  }
}
