.page {
  :global {
    h1 {
      margin-bottom: 85px;
      font-size: 29px;
    }

    .card {
      background-image: url('imgs/A.3.5.1_Additional_card.png');
      background-size: 100%;
      background-repeat: no-repeat;
      padding-top: 43px;
      margin: 0 31px 10px 0;

      h2 {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
      }
    }

    .buttons-group {
      display: flex;
      flex-direction: column;


      &-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 33px 90px 53px 101px;
      }
      &-row-center {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
