.content-wrapper {
    .content-container {
        .wacs-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 100px;
        
            .wac-container {
                display: flex;
                justify-content: center;
                align-items: flex-end;
        
                img {
                    width: 314px;
                }
            }
        }   
    }
}
